html, body {
	margin: 0;
    font-family: Veranda, Helvetica, Arial, sans-serif;
}

header {
  display: table;
  padding: 5px 15%;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header nav,
header div {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  height: 5px;
}

header nav {
  text-align: right;
}

.main {
	width: 60%;
	height: 100%;
	padding: 5px 20% 100%;
}

img {
    width: 32%;
}

@media screen and (max-width: 720px){
    header {
        height: auto;
    }
    
    header > div,
    header > div h1,
    header nav {
        height: auto;
        width: auto;

